.card-locacion {
    background-color: #24282F;
    width: 300px;
    color: #fff;
    margin: 15px;
    text-align: center;
}

.card-cuerpo-locacion {
    padding: 20px;
}

.nombre-locacion {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #FF9800;
    transition: color .3 ease;
}

.card-texto-locacion label {
    font-size: 15px;
    color: #9E9E9E;
    font-weight: bolder;
    font-size: 14px;
}

.data-locacion {
    margin-bottom: 0;
}